<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Cicmiscan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">Home</a>
    </li>
    <li><a href="/origin">Origin only</a></li>
</ul>
<h2>Search details</h2>
<form class="form-inline, container" th:object="${searchRequest}" th:action="@{/search}" method="post">
    <div class="form-group">
        <label for="origin">Origin:</label>
        <select class="form-control" th:field="*{origin}" th:name="origin" id="origin">
            <option th:each="iata : ${iatas}" th:value="${iata.getCode()}" th:text="${iata.getAirport()}"></option>
        </select>
        <label for="destination">Destination:</label>
        <select class="form-control" th:field="*{destination}" th:name="destination" id="destination">
            <option th:each="iata : ${iatas}" th:value="${iata.getCode()}" th:text="${iata.getAirport()}"></option>
        </select>
    </div>
    <br/>
    <div class="radio">
        <label><input type="radio" th:field="*{oneway}" name="return" value="false"/>Return</label>
    </div>
    <div class="radio">
        <label><input type="radio" th:field="*{oneway}" name="return" value="true"/>One way</label>
    </div>
    <br/>
    <div class="form-group">
        <label for="departure">Departure date:</label>
        <input type="date" th:field="*{departure_date}" th:name="departure_date" id="departure"/>
        <label for="return">Return date:</label>
        <input type="date" th:field="*{return_date}" th:name="return_date" id="return"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="adults">Adults number:</label>
        <input th:field="*{adults}" th:name="adults" id="adults"/>
        <label for="price">Max price:</label>
        <input th:field="*{max_price}" th:name="max_price" id="price"/>
        <label for="currency">Currency:</label>
        <input th:field="*{currency}" th:name="currency" id="currency"/>
        <label for="result">Number of results:</label>
        <input th:field="*{number_of_results}" th:name="number_of_results" id="result"/>
    </div>
    <input type="submit" value="Search"/>
</form>
<br/>
<br/>
<br/>
<div class="container">
    <h2>Results</h2>
    <table class="table" th:each="result : ${results}">
        <thead>
        <tr>
            <th>Direction</th>
            <th>Departs at</th>
            <th>Arrives at</th>
            <th>Origin airport</th>
            <th>Destination airport</th>
            <th>Marketing airline</th>
            <th>Total price</th>
        </tr>
        </thead>
        <tbody th:if="${not searchRequest.isOneway()}" th:each="itinerary : ${result. getItineraries()}">
        <tr th:each="flight : ${itinerary.getOutbound().getFlights()}">
            <td>OUT</td>
            <td th:text="${flight.getDeparts_at()}"></td>
            <td th:text="${flight.getArrives_at()}"></td>
            <td th:text="${flight.getOrigin().getAirport()}"></td>
            <td th:text="${flight.getDestination().getAirport()}"></td>
            <td th:text="${flight.getMarketing_airline()}"></td>
            <td th:text="${result.getFare().getTotal_price()}"></td>
        </tr>
        <tr th:each="flight : ${itinerary.getInbound().getFlights()}">
            <td>IN</td>
            <td th:text="${flight.getDeparts_at()}"></td>
            <td th:text="${flight.getArrives_at()}"></td>
            <td th:text="${flight.getOrigin().getAirport()}"></td>
            <td th:text="${flight.getDestination().getAirport()}"></td>
            <td th:text="${flight.getMarketing_airline()}"></td>
            <td th:text="${result.getFare().getTotal_price()}"></td>
        </tr>
        </tbody>
        <tbody th:if="${searchRequest.isOneway()}" th:each="itinerary : ${result. getItineraries()}">
        <tr th:each="flight : ${itinerary.getOutbound().getFlights()}">
            <td>OUT</td>
            <td th:text="${flight.getDeparts_at()}"></td>
            <td th:text="${flight.getArrives_at()}"></td>
            <td th:text="${flight.getOrigin().getAirport()}"></td>
            <td th:text="${flight.getDestination().getAirport()}"></td>
            <td th:text="${flight.getMarketing_airline()}"></td>
            <td th:text="${result.getFare().getTotal_price()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
